
<div class="requests-index">
  <div class="current-Location-button">
    <%= button_tag "現在地から探す", type: "button", class: "currentLocation" %>
  </div>

  <div class="requests-list">
  <% if !@requests.empty? %>
    <div class="requests-item">
      <h2 class="item-request-name"></h2>
      <p class="item-request-detail"></p>
      <p class="item-reward"></p>
      <p class="item-user"></p>
    </div>
  <% else %>
    <p><%= @latitude %></p>
    <p><%= @longitude %></p>
  <% end %>
  </div>
  
  <div class="app-map-list">
    <ul>
      <%= link_to "マイページ", "#" %>
      <%= link_to "メッセージルーム一覧", "#" %>
      <%= link_to "アカウント編集", "#" %>
    </ul>
  </div>

</div>
