<div class="request-show">
  <div class="request-show-left">
  </div>

  <div class="requests-list">
    <h1><%= @request.request_name %></h1>
    <p><%= @request.request_detail %></p>
    <p><%= @request.reward %></p>
    <p>リクエストユーザー: <%= @request.user.name %></p>
    <% if @request.user == current_user %>
      <%= link_to "削除", request_path(@request), method: :delete, data: { confirm: "削除します。大丈夫ですか?" } %>
      <%= link_to "メッセージルーム一覧へ", request_messagerooms_path(request_id: @request.id) %>
    <% else %>
      <% if @request.messagerooms.find_by(owner_id: @request.user_id, guest_id: current_user.id).nil? %>
        <%= link_to "貸せる", request_messagerooms_path(request_id: @request.id), method: :post %>
      <% else %>
        <%= link_to "メッセージルームに入る", request_messageroom_path(request_id: @request.id, id: @request.messagerooms.find_by(owner_id: @request.user_id, guest_id: current_user.id).id) %>
      <% end %>
    <% end %>
  </div>
  
  <%= render "layouts/app_map_list" %>

</div>
