<div class="mypage">
  <div class="requests-form">
    <%= form_with(url: requests_url, model: @request, method: :post, local: true) do |f| %>
      <ul class="requests-form-list">
        <li>
          <%= f.label :request_name %>
        </li>
        <li>
          <%= f.text_area :request_name %>
        </li>

        <li>
          <%= f.label :request_detail %>
        </li>
        <li>
          <%= f.text_area :request_detail %>
        </li>

        <li>
          <%= f.label :reward %>
        </li>
        <li>
          <%= f.text_area :reward %>
        </li>

        <li>
          <%= f.submit "リクエスト投稿" %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="requests-list">
    <h1>投稿したリクエスト一覧</h1>
    <% unless @requests == nil %>
      <% @requests.each do |r| %>
        <%= link_to(request_path(r)) do %>
          <div class="requests-item">         
            <h2 class="item-request-name"><%= r.request_name %></h2>       
            <p class="item-request-detail"><%= r.request_detail %></p>
            <p class="item-reward"><%= r.reward %></p>
            <p class="item-user"><%= r.user.name %></p>
            <%= link_to "削除", request_path(r), method: :delete, data: { confirm: "削除します。大丈夫ですか?" } %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h2>リクエストの投稿はありません。</h2>
    <% end %>
  </div>
  
  <div class="app-map-list">
    <ul class="app-map-list-ul">
      <li><%= link_to "マイページ", "#" %></li>
      <li><%= link_to "作成したメッセージルーム一覧", "#" %></li>
      <li><%= link_to "アカウント編集", "#" %></li>
    </ul>
  </div>

</div>