<div class="app-map-list">
  <h3>メニュー</h3>
  <ul class="app-map-list-ul">
    <li><%= link_to "マイページ", mypage_path %></li>
    <li><%= link_to "リクエストを探す", requests_path %></li>
    <li><%= link_to "作成したメッセージルーム", made_messageroom_path %></li>
    <li><%= link_to "作成されたメッセージルーム", make_messageroom_path %></li>
    <li><%= link_to "アカウント編集", edit_user_registration_path %></li>
  </ul>
</div>